{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambton Covid Statistics</title>

    <link rel="shortcut icon" href="{% static 'images/title.png' %}" type="image/x-icon" />
    <!-- External css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_desktop.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="{% static 'js/home.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/plugin_slideshow.js'%}" type="text/javascript"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function(){

            var email =  sessionStorage.getItem("email");
            if(email!=undefined && email.trim()!= '' && email!= 'undefined' && email!=null)
            {
                $('.login-label').empty();
                $('.login-label').append('Sign out');
            }
            var searchSuggestions = [
                        "Us data",
                        "Canada data",
                        "India data",
                        "China daata",
                        "Thai data",

                        ];
                $( "#nav-search" ).autocomplete({
                source: searchSuggestions
                });
                 $('#radio-2').attr('checked','checked')
            $('#radio-2').trigger('click')
             $('#bootstrapdatatable').DataTable({
                  "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
                    "iDisplayLength": 5
                   }
                );
        })

    </script>
    <script>

        var popupWindow = null;
        function centeredPopup(url,winName,w,h,scroll,price){
            //var price = price;

            sessionStorage.setItem("price",price);
            LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
            TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
            settings =
            'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
            popupWindow = window.open(url,winName,settings);

        }
    </script>

    <link rel="stylesheet" href="{%static 'css/home_tab.css'%}" media="screen and (min-width: 481px) and (max-width: 768px)">
    <link rel="stylesheet" href="{%static 'css/slideshow.css'%}" media="screen and (min-width:769px)">
    <link rel="stylesheet" href="{%static 'css/home_mobile.css'%}" media="screen and (max-width: 480px)">

</head>
<body>
    <header>
        <img src="{%static 'images/logo.png' %}" id="logo" alt="logo">
    </header>
    <nav class="desktop-and-mobile-only">

        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="/covid">Charts (Matplotlib)</a></li>
            <li><a href="/api">Covid Api Data</a></li>
<!--            <li><a href="html/faq.html">FAQ</a></li>-->

            <li class="nav-right theme-li desktop-only">
                <fieldset style="margin-top: 1em;">
                    <legend>Select a Theme: </legend>
                    <label for="radio-1">Light</label>
                    <input type="radio" name="theme" value="light"  id="radio-1" class='theme'>
                    <label for="radio-2">Dark</label>
                    <input type="radio" name="theme" value="dark" checked="checked" id="radio-2" class='theme'>
                  </fieldset>
            </li>
            <li class="nav-right"><a href="#"><img src="{%static 'images/settings.png'%}" id="settings" alt="settings" ></a></li>
            <li class="nav-right"><a href="/admin"><label class="login-label">Admin Panel</label></a></li>
<!--            <li class="nav-right desktop-only">-->
<!--                <form method="post" action="submit">-->
<!--                    <input id="nav-search" type="text" placeholder="covid stats details here">-->
<!--                </form>-->
<!--            </li>-->
        </ul>
    </nav>
    <nav class="tablet-only">
        <div class='logo-div'>

            <h2><a href="#"><img class="img-logo" src="{%static 'images/logo.png'%}" alt="home"></a>
                Covid statistics
            </h2>
        </div>
        <ul>
            <li><a href="/"><img class="img-menu" src="{%static 'images/menu_home.png'%}" alt="home"><br>Home</a></li>
            <li><a href="/covid"><img class="img-menu" src="{%static 'images/menu_history.png'%}" alt="Charts"><br>Charts</a></li>

            <li><a href="html/api"><img class="img-menu" src="{%static 'images/menu_contact.png'%}" alt="API"><br>API</a></li>
<!--            <li><a href="html/about_us.html"><img class="img-menu" src="{%static 'images/menu_about.png'%}" alt="about"><br>FAQ</a></li>-->

            <li class="nav-right"><a href="#"><img class="img-menu" src="{%static 'images/settings.png'%}"  alt="settings"><br>Settings</a></li>
            <li class="nav-right"><a href="#"><img class="img-menu" src="{%static 'images/menu_login.png'%}" alt="login-signup"><br><label class="login-label">Login/Signup</label></a></li>

        </ul>
    </nav>

        <div id="banner">
            <article id="article-text">
                <h2>
                    Stay home, stay safe | Battle against covid-19
                </h2>
            </article>
            <article id="article-btn">
                <a href='#booking-h3'><button id="btn-appointment">Book a vaccine!</button></a>
            </article>
        </div>
        <main id="main">
            <article>
               <h3 class="sub-heading" id="booking-h3"> Covid Data (Crud Operations) <img src="{% static 'images/collapse.png'%}" alt="icon" class="collapse-btn"></h3>
               <div id = "ticket-div" class="collapse-cls">

                     <div class="row">
                        {% block content %}{% endblock %}
                     </div>

              </div>

              <div class="desktop-and-tablet-only search-results">

            </div>
            </article>
            <article>
                <h3 class="sub-heading">Vaccine Camp <img src="{%static 'images/collapse.png'%}" class="collapse-btn" alt="icon"></h3>
                <figure class="offer-images collapse-cls">
                    <figcaption>It's totally safe and secure to vaccinate!</figcaption>

                    <ul id="imageSliderAuto">
                    <li><a href="#"><img src="{%static 'images/camp1.jpg'%}" alt="camp"></a></li>
                    <li><a href="#"><img src="{%static 'images/camp2.jpg'%}" alt="camp"></a></li>
                    <li><a href="#"><img src="{%static 'images/camp3.jpg'%}" alt="camp"></a></li>
                    <li><a href="#"><img src="{%static 'images/camp4.jpg'%}" alt="camp"></a></li>

                    </ul>
                </figure>

            </article>



        </main>
        <footer class="footer">
                <span>
                    Copyright &copy; 2021
                </span>
                <span class="footer-right">
                    Get social with us:
                    <a href="#"><img src="{%static 'images/twitter.png'%}" alt="social media"></a>
                    <a href="#"><img src="{%static 'images/insta.png'%}" alt="social media"></a>
                    <a href="#"><img src="{%static 'images/whatsapp.png'%}" alt="social media"></a>
                </span>
        </footer>


</body>
</html>

