{% extends "base.html" %}
 
{% block title %}Add New Covid Report{% endblock title %}
 
{% block content %}
 <div class="col-md-12">
        <h4>Covid Datatable</h4> <span><a href="/addnew" class="btn btn-primary">Add New Record</a></span>
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
<!--                <th><input type="checkbox" id="checkall" /></th>-->
                <th>ID</th>
                <th>Country</th>
                <th>Total Cases</th>
                <th>New Cases</th>
                <th>Total Deaths</th>
                <th>New Deaths</th>
                <th>Total Recovered</th>
                <th>Active Cases</th>
                <th>Serious</th>
                <th>Total Cases per 1M</th>
                <th>Deaths per 1M</th>
                <th>Total Tests</th>
                <th>Tests per 1M</th>
                <th>Population</th>
                <th>Edit</th>
                <th>Delete</th>
             </thead>
   <tbody>
   {% for todo in report %}
    <tr>  
<!--     <td><input type="checkbox" class="checkthis" /></td>-->
     <td><input type='text' id='id' value='{{ todo.id }}' disabled></td>
     <td><input type='text' id='country' value='{{ todo.Country }}' disabled></td>
     <td><input type='text' id='total_cases' value='{{ todo.TotalCases }}' disabled></td>
     <td><input type='text' id='new_cases' value='{{ todo.new_cases }}' disabled></td>
     <td><input type='text' id='total_Deaths' value='{{ todo.total_Deaths }}' disabled></td>
     <td><input type='text' id='new_deaths' value='{{ todo.new_deaths }}' disabled></td>
     <td><input type='text' id='total_recovered' value='{{ todo.total_recovered }}' disabled></td>
     <td><input type='text' id='active_cases' value='{{ todo.active_cases }}' disabled></td>
     <td><input type='text' id='serious' value='{{ todo.serious }}' disabled></td>
     <td><input type='text' id='total_cases_percent' value='{{ todo.total_cases_percent }}' disabled></td>
     <td><input type='text' id='deaths_percent' value='{{ todo.deaths_percent }}' disabled></td>
     <td><input type='text' id='total_tests' value='{{ todo.total_tests }}' disabled></td>
     <td><input type='text' id='tests_percent' value='{{ todo.tests_percent }}' disabled></td>
     <td><input type='text' id='population' value='{{ todo.population }}' disabled></td>
     <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{ todo.id }}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></a></p></td>
     <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/delete/{{ todo.id }}" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></a></p></td>
    </tr>
   {% endfor %} 
   </tbody>

  </table>
             </div>
    </div>
{% endblock content %}
